<div class="block-panel">
  <div class="block-panel__body">
    <%- model_class = Factoid -%>
    <div class="block-panel__header">
      <h3 class="block-panel__title"><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h3>
    </div>
    <%= render :partial => 'form' %>
  </div>
</div>