.block-panel {
  background-color: #bcd4f9;
  border: 2px solid #F1F2F3;
  border-radius: 3em;
  margin-bottom: 1em;
  padding: 2em;
}

.block-panel--dark {
  background-color: #EEE;
}

.block-panel__arrow {
  &:hover, &:focus {
    text-decoration: none;
  }
}

.block-panel__header {
  margin: 1em;
  position: relative;

  h2, h3 {
    background: none !important;
  }
}

.block-panel__actions {
  position: absolute;
  top: 0;
  right: 0;
}

.block-panel__body {
  margin: 1em;
}