<div id="flash_messages">
  <% if flash[:notice] %>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <p class="alert alert-success"><%= flash[:notice] -%></p>
  <% end -%>
  <% if flash[:warning] %>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <p class="alert alert-warning"><%= flash[:warning] -%></p>
  <% end -%>
  <% if flash[:alert] %>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <p class="alert alert-error"><%= flash[:alert] -%></p>
  <% end -%>
</div>
